Repository Z2PackDev/bands-inspect: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, interpolate-workflows

pylint:
  name: pylint
  entry: pylint
  language: system

interpolate-workflows:
  name: Interpolate Github workflows
  entry: python ./utils/interpolate_yaml_anchors.py
  language: system
  pass_filenames: false

Make installscript.sh executable
  .ci/install_script.sh
Due: none

Add Python 3.11 to matrix
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Check for 'auto' only if 'unit_cell' is a string
  src/bands_inspect/kpoints/_path.py
Due: pylint

Update actions versions
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Update actions versions (#14)
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Update version to 0.3.2
  pyproject.toml
Due: none

Add dev suffix to version
  pyproject.toml
Due: none

Add dev suffix to version (#15)
  pyproject.toml
Due: none

Update lockfile
  poetry.lock
Due: none

Update lockfile (#36)
  poetry.lock
Due: none

Bug Bounty - Looking for security issues in your CI. Please ignore :) . (emkkpv)
  .ci/install_script.sh
  clean.sh
  doc/Makefile
  tests/coverage.sh
Due: none

Adapt dependabot configuration
  .github/dependabot.yml
Due: interpolate-workflows

Adapt dependabot configuration (#76)
  .github/dependabot.yml
Due: interpolate-workflows

Re-add github actions update
  .github/dependabot.yml
Due: interpolate-workflows

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/)|(examples/)|(playground/)
  interpolate-workflows: any of: (?x)^(
  .github/(.)*|
  utils/interpolate_yaml_anchors.py
)$

